:root {
    --while-color: rgb(255, 255, 255);
    --black-color: #000;
    -text-coler: #333;
    --height-header: 120px;
}
*{
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

html{
    /*Hack  */
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    /* margin: -9px; */
}
.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}
.grid__full-width{
    width: 100%;
}
.grid__row {
    display: flex;
    flex-wrap: wrap;
}
/* ---------animation-------- */
@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@keyframes sCale{
    from{
        transform: scale(0);
        opacity: 0;
    }
    to{
        transform: scale(1);
        opacity: 1;
    }
}
/* Modal */
.modal{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right:0;
    display: flex;
}
.modal__body{
    margin: auto;
    width: 400px;
    background-color: rgb(250, 245, 245);
    border-radius: 5px;
    box-shadow: 5px 5px 10px -1px rgba(25,5,5,0.3);
    position: relative;
}
.modal__overlay{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4)
}
/* button */
.btn {
    min-width: 142px;
    height: 34px;
    text-decoration: none;
    border: none;
    border-radius: 3px;
    font-size: 1.5rem;
    padding: 0;
    outline: none;
    cursor: pointer;
    color: #726565;
    display: flex;
    align-items: center;
    justify-content: center;

}

.btn:hover{
    background-color: rgba(0,0,0,0.06);
}

.btn.btn--size-s{
    height: 32px;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
}

.btn.btn--primary {
    background-color: red;
    color: rgb(255, 255, 255);
}
 .btn.btn--disabled{
     color: #949494;
     cursor: default;
     filter:brightness(80%);
    background-color: #c3c3c3;
 }

 .auth-form__socials{
    background-color: rgba(25,5,5,0.3);
    padding: 5px 32px;
    display: flex;
    justify-content: space-between;
}