.header {
    height: var(--height-header);
    background-image: linear-gradient(0, #202ca7,#1a0652);
}

.header__navbar{
    display: flex;
    justify-content: space-between;

}
.header__navbar-list {
    list-style: none;
    padding-left: 0;
    margin: 0;
    margin-top: 10px;
} 
img{
    font-size: 55px;
}
.header__navbar-item{
   margin: 0 7px;
   position: relative;
   min-height: 26px;
 } 
.header__navbar-icon-link{
    font-size: 1.6rem;
}
.header__navbar-item,
.header__navbar-item-link{
   display: inline-block;
   font-size: 1.6rem;
   color: var(--while-color);
   text-decoration: none;
   font-weight: 300;

}
.header__navbar-item,
.header__navbar-item-link,
.header__navbar-icon-link{
    display: inline-flex;
}

 .header__navbar-item:hover,
.header__navbar-item-link:hover {
    color: rgba(255,255,255,0.7);
    cursor: pointer;
}
.header__navbar-item--strong{
    font-weight: 400;
}
.header__navbar-item--separate::after{
    content: "";
    display: block;
    position: absolute;
    height: 12px;
    border-left: 2px solid rgba(255,255,255,0.7);
    right: -9px;
    top: 50%;
    transform: translateY(-90%);
}
.header__navbar-icon-link{
    text-decoration: none;
    color: var(--while-color);
}
.header__navbar-icon{
    font-size: 1.8rem;
}
.header__navbar-icon,.header__navbar-item{
    display: inline-block;
    margin-bottom: 0;
}

/* ------------Thong bao-------------*/
.header__iden {
position: absolute;
top: 120%;
width: 400%;
left: -300%;
background-color: rgb(243, 243, 235);
display: none;
border-radius: 2px;
z-index: 5;

}

 .header__iden-head {
    display: flex;
    align-items: center;
    padding: auto 2px;
    color: rgba(184, 167, 167, 0.7);
    margin-bottom: -0px;
    margin-left: 8px;
    font-weight: 100;
    font-size: 1.6rem;
    cursor: default;
    font-weight: 300;
    height: 40px;
}


.header__iden-body-ul{
    background-color: #445ece;
    padding-left: 0;
    width: 100%;
}

.header__iden-body-li{
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    border-bottom: 1px solid #f6f7f8;
}

.header__iden-body-li:hover{
    background-color: #528fd4;
}

.header__iden-body {
    text-decoration: none;
    display:flex;
}


 img {
 width: 10%;
 object-fit: contain;
 padding: 0px 5px;
}

.header__iden-content {
    font-size: 1.5rem;
    padding: 0px;
    padding-bottom: 2px;
    margin: 0px;
    margin-bottom: 0;
    font-weight: 400;

}

.header__iden-detail {
    padding: 0px;
    margin: 0px;
    font-size: 1.2rem ;
    opacity: 0.8;
}

.header__iden-foot {

    color: rgba(163, 137, 137, 0.7);
    margin-top: -5px;
    margin-bottom: -5px;
    border-bottom: 3px solid #202ca7;
    left: 150px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.header__navbar-item:hover .header__iden{
    display: block;
    transform-origin: 90% top;
    animation: sCale ease-in-out 0.2s;
    will-change: opacity tranform;
} 

.header__iden-notify{
    color: rgb(253, 249, 249);
}

.header__iden::before 
{
    content: "";
    position: absolute;
    border: 20px solid ;
    border-color:  transparent transparent rgb(243, 243, 235) transparent;
    left: 85%;
    top: -30px
}

/* ---------------------qrcode-------------- */
/* .header__qr{
    width: 186px;
    background-color: var(--while-color);
    position: absolute;
    left: 0;
    top: 120%;
    display: none;
    animation: fadeIn ease .5s ;
}
.header__qr::before {
    position: absolute;
    width: 100%;
    height: 20px;
    content: "";
    display: block;
    left: 0;
    top:-17px
}
.header__navbar-item--separate:hover .header__qr{
    display: block;
}

.header_qr-img{
    width: 100%;
} */
/* teeeeeeeeeeeeeeeeeeeeeeeeee */
/* .header{
    height: 128px;
    background-image: linear-gradient(0,rgb(35, 13, 133),rgb(10, 11, 48));
}
.header__navbar{
    display: flex;
    justify-content: space-between;
}
.header__navbar-item{
    display: inline-block;
    position: relative;
}
.header__navbar-icon-link,
.header__navbar-item{
    text-decoration: none;
    color: var(--while-color);
    font-size: 1.6rem;
}
.header__navbar-item{
    padding: 0 8px;
}
.header__navbar-item:hover,
.header__navbar-item-link:hover {
    color: rgba(255,255,255,0.7);
    cursor: pointer;
}
.header__navbar-item--separate::after{
    content: "";
    display: block;
    position: absolute;
    height: 12px;
    border-left: 1px solid #8b8080;
    right: -2px;
    top: 50%;
    transform: translateY(-50%);
}
   .header__navbar-icon{
    font-size: 1.8rem;
}
} */
/* qrcode */
.header__qr{
    position: absolute;
    top: 120%;
    left: 0;
    width: 184px;
    display: none;
    z-index: 1;
}
.header__qr::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 20px;
    top: -20px;
    left: 0;
    display: block;
}
.header__navbar-item--separate:hover .header__qr{
    display: block;
    animation: fadeIn ease-in-out 0.2s;
}
.header_qr-img{
    width: 100% ;
}
/* ------------auther */
.auth-form{
    width: 400px;
  }
  .auth-form__container{
    padding: 0px 32px;
  }
  .auth-form__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .auth-form__heading{
      padding-top: 15px;
      font-size: 2.2rem;
      font-weight: 400;
      color: var(-text-color);
  }
  .auth-form__switch-btn{
      cursor: pointer;
      font-size: 1.6rem;
      font-weight: 400;
      color: red;
  }
  .auth-form__form{
      margin-top: 16px;
  }
  .auth-form__input{
      width: 100%;
      height: 40px;
      margin-top: 16px;
      padding: 0 12px;
      font-size: 1.4rem;
      border-radius: 2px;
      border: 1px solid var(#f0dcdc);
      border-color: rgba(243, 243, 235,0.3);
      outline: none;
  }
  .auth-form__input:focus{
      border-color: rgba(243, 243, 235,0.8);
  }
.auth-form__aside{
    margin-top: 18px;
    font-size: 1.2rem;
}

.auth-form__policy-text {
    font-size: 1.2 rem;
    line-height: 1.8rem;
    text-align: center;
}
.auth-form__policy-link{
    color:rgba(243, 4, 4, 1);
    text-decoration: none;
}
.auth-form__controls{
    display: flex;
    justify-content: flex-end;
    margin-top: 55px;
    padding-bottom: 5px;
}
.auth-form__controls-back{
    margin-right: 8px;
}

.btn__icon{
    font-size: 1.8rem;
}

.auth-form__socials--facebook,
.auth-form__socials--google{
    color: #202ca7;
}
/* ----------Headerwithsearch-------- */
.header-with-search{
    height: calc(120px - 37.6px);
    display: flex;
    align-items: center;
    padding: 0 8px;
}

.header__search-wrap{
    flex: 1;
    height: 100%;
}

.header__search{
    flex: 1;
    height: 40px;
    display: flex;
    background-color: white;
    position: relative;
}

.header__search-input{
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    padding-left: 10px ;
} 

.header__search-select{
    display: flex;
    align-items: center;
    padding: 0 20px;
    background-color: #1d58fc;
    margin: 1px;
    border: none;
    cursor: pointer;
}
.header__search-select:hover{
    opacity: 0.9;
}

.header__search-icon{
    font-size: 14px;
}

.header__search-list{
    display: flex;
}

.header__logo{
    width: 200px;
}

.header__logo-img {
    width: 146px;    
}

.header__search-icon{}
.header__cart{
    width: 140px;
    display: flex;
    justify-content: center;
}
/* ----------header-history- */
.header__search-list{
    position: absolute;
    list-style: normal;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    left: 0;
    margin-top: 5px;
    width: calc(100% - 10px);
    display: none;
    z-index: 1;
}
.header__search-node{
    display: flex;
    height: 40px;
    padding-left: 10px ;
    align-items: center;
}

.header__search-node:hover{
    opacity: 0.8;
    background-color: #fff4f4;
}
.header__search-node-item{
    width: 100%;
    text-decoration: none;
    align-items: center;
    font-style: none;
    font-size: 1.4rem;
    color: black;
}
.header__search-input:focus ~ .header__search-list{
    display: flex;
}

/* ---------------cart */
.header__cart-wrap{
    position: relative;
    width: 50px;
    display: flex;
    justify-content: center;
}
.header__cart-icon{
    color: rgb(255, 255, 255);
    font-size: 20px;
}
.header__cart-click{
}
.header__cart-list{
    width: 400px;
    background-color: #ffffff;
    position: absolute;
    list-style: none;
    top: 170%;
    left: -340px; 
    display: none;
    box-shadow: 5px 5px 10px rgb(209, 200, 200);
    flex-direction: column;
    border-radius: 2px;
    z-index: 1;
}
.header__cart-wrap:hover .header__cart-list{
     display: flex;
     transform-origin: 93% top;
     animation: sCale ease-in-out 0.2s;
}

/* .header__cart-list::before{
    position: absolute;
    content: "";
    width: 100%;
    height: 40px;
    top: -20px;
    left: 0;
    display: block;
    background-color: #4040dd;
} */
.header__cart-list::before{
    content: "";
    position: absolute;
    border: 20px solid ;
    border-color:  transparent transparent rgb(255, 255, 255) transparent;
    left: 87%;
    top: -30px;
    
}
.header__cart-head{
    display: flex;
    padding-top: 50px;
}
.avt{
    width: 50%;
    margin: auto;
}
.header__cart-foot{
    font-size: 1.6rem;
    font-weight: 300;
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}
/* ---homefilter */
.home-filter {
    background-color: #ededed;
    display: flex;
    align-items: center;
    padding: 12px 20px;
    border-radius: 2px;
}

.home-filter__page {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.home-filter__label {
    font-size: 1.4rem;
    color: #555555;
    padding:0 15px;
    }

.home-filter__page {
    }

.home-filter__page-num {
    font-size: 1.5rem;
    color: black;
    margin-right: 22px;    
}

.home-filter__page-current {
    color: red;
}

.home-filter__page-control {
    border-radius: 2px;
    overflow: hidden;
    display: flex;
    width: 72px;
    height: 36px;
}

.home-filter__page-btn {
    flex: 1;
    display: flex;
    background-color: white;
    text-decoration: none;
}
.home-filter__page-btn:first-child{
    border-right:2px solid #eee ;
}
.home-filter__page-btn {

}

.home-filter__btn{
    margin-right: 12px;
    min-width: 90px;
    background-color: white;
}
.home-filter__page-icon{
    margin: auto;
    font-size: 1.4rem;
    color: #656565;
    
}
.home-filter__page-btn--disable{
    background-color: #f9f9f9;
    cursor: default;
}
.home-filter__page-btn--disable .home-filter__page-icon{
    color: #ccc;
}
/* ----product separate----- */
.home-product-item{
 background-color: white;
 position: relative;
}

.home-product-item__img{
    padding-top: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.home-product-item__name{
    font-size: 1.4rem;
    font-weight: 400;
    color: black;
    line-height: 1.8rem;
    height: 3.6rem;
    margin-bottom: 6px;
    /* ẩn thẻ con có kích thước vượt quá thẻ cha */
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    /* Chạy thẳng 1 dòng */
    /* text-overflow: ellipsis; */
    /* Ít dòng thêm dấu ... */
    /* white-space: nowrap; */
}

.home-product-item__price{
    display: flex;
    
    align-items: baseline;
}
.home-product-item__name__price-old{
    font-size: 1.4rem;
    color: #666;
    text-decoration: line-through;
}

.home-product-item__name__price-current{
    font-size: 1.6rem;
    color: red;
    margin-left: 10px;
    
}
.home-product-item__action{
    display: flex;
    justify-content: space-between;
    margin-top: 6px;
    font-size: 1.4rem;
}

i.home-product-item__like-icon-fill{
    display: none;  
}
.home-product-item__action-like--liked .home-product-item__like-icon-fill{
    display: inline-block;
    color: red;
}
.home-product-item__action-like--liked .home-product-item__like-icon-empty{
    display: none;
}
.home-product-item__action-like{
    font-size: 1.3rem;
}

.home-product-item__rating{
    font-size: 1rem;
    zoom: 0.8;
    color: #d5d5d5;
    margin:1px 0 0 auto;
}
.home-product-item__star--gold{
    color: var(--star-gold);
}
.home-product-item__sold{
    font-size: 1.2rem;
    color: rgb(36, 34, 34);
    margin-left: 6px;
}
.home-product__origin{
    display: flex;
    margin-top:3px;
    color: #595959;
    font-size: 1.2rem;
    font-weight: 300;
}
.home-product-item__brand{
    margin-right: auto ;
}

.home-product-item__origin-nam{

}

.home-product-item__favorite{
    position: absolute;
    top: 10px;
    left: -4px;
    background-color: rgb(255, 0, 0);
    font-size: 1.2rem;
    font-weight: 500;
    color: white;
    line-height: 1.7rem;
    padding-right: 4px;
    border-bottom-right-radius:3px;
    border-top-right-radius: 3px;

}
.home-product-item__favorite::after{
    content: "";
    position: absolute;
    border-top: 3px solid rgb(138, 0, 0) ;
    border-left: 3px solid transparent;
    left: 0;
    bottom: -3px;
}
.home-product-item__favorite i {
    font-size: 0.9rem;
    margin: 0 2px 0 5px;
}

.home-product-item__favorite{

}
.home-product-item__sale-off{
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgba(255,212,36,.9);
    width: 36px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.home-product-item__sale-off::after{
    content: "";
    width: 0;
    height: 0;
    left: 0;
    bottom: -4px;
    position: absolute;
    border-color: transparent rgba(255,212,36,.9);
    border-style: solid;
    border-width: 0px 18px 4px;
}


.home-product-item__sale-off-percent{
    font-size: 1rem;
    color: red;
    line-height: 10px;
    padding-top:5px;
}

.home-product-item__sale-off-label{
    color: #fff;
    line-height: 13px;
    padding-bottom:3px;
}
.home-product-item__identify{
   padding: 10px;
}
/* pagination */
.home-product__pagination{
    margin: 48px 0 32px 0;
}